:root {
  --primary: rgb(149, 231, 73);
  --secondary: orange;
}

.App {
  margin: 150px auto;
  width: 475px;
}

.container {
  background-color: #fcfcfc;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 5px;
}

.navbar {
  margin: 0 0 70px 0;
}

.link {
  color: var (--primary);
}

.link:hover {
  color: var (--secondary);
  /* transition: 2s; */
}

a {
  color: var (--primary);
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}

.title {
  display: inline-block;
  font-family: 'Lato', 'Trebuchet MS', sans-serif;
  font-size: 1.45em;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
